################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/campionc.github.io/FileContentIndex
/.vs/campionc.github.io/v17/DocumentLayout.json
/.vs/campionc.github.io/v17/.wsuo
*.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
